/*Gobals */
$primary-color: rgb(0, 183, 223);
$secondary-color: rgb(28, 139, 195);
$dark-grey: rgb(110, 110, 112);
$light-grey: rgb(190, 190, 190);
$sucess-color: rgb(0, 204, 74);
$warning-color: rgb(255, 104, 0);
$error-color: rgb(242, 28, 36);
