@import "../../css/color-palette";

.homeremote-main {
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  background: white;
  .btn-group {
    margin-top: 8px;
    width: 70%;
  }
  button {
    width: 50%;
    background: white;
    color: $primary-color;
    border: 1 none;
  }
  button {
    &:hover, &:focus, &:active:focus {
      background: white;
      color: $primary-color;
      border: 1 none;
      text-decoration: none;
      outline: none;
      box-shadow: none;
    }
  }
};
