@import "../../css/color-palette";

.roominput-main {
  margin-top: 25%;
  margin-bottom: 25%;
  width: 100%;
  text-align: center;
  button {
    width: 15%;
    background: $primary-color;
    border:1px solid $light-grey {}
    color: white;
  }
  button {
    &:hover, &:focus, &:active:focus {
      background: $primary-color;
      border:1px solid $light-grey {}
      color: white;
      text-decoration: none;
      outline: none;
      box-shadow: none;
    }
  }
};

.roominput-selector {
  width: 50%;
  height: 2em;
  margin-right: 5%;
  background: $light-grey;
  border:1px solid $dark-grey {}
  border-radius: 4px;
  color: $dark-grey;
};
